.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #741188;
  padding: 0 2rem;
}

.nav {
  height: 72px;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-family: "Roboto";
  font-style: normal;
}

.nav .logo {
  display: flex;
  align-items: center;
  width: 15%;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav li {
  display: inline-block;
  margin: 0;
  padding: 25px;
  color: #1d2130;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.nav li a {
  text-decoration: none;
  color: #1d2130;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.nav li a:hover {
  font-weight: bold;
}

.nav button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  width: 144px;
  height: 56px;
  background: #1d2130;
  border-radius: 12px;
  color: white;
  border: 0 none;
  cursor: pointer;
  outline: none;
}

.nav button:hover {
  background: #313852;
  color: white;
}
